@use 'patreals/vars';
@use 'patreals/body';
@use 'patreals/main';

@use 'patreals/content';
@use 'patreals/svg-icon';
@use 'patreals/img-grid';
@use 'patreals/game';
@use 'base';
@use 'site';

/* -------------------------------------------------------------------------- */
/*                                    Blue                                    */
/* -------------------------------------------------------------------------- */
.blue-theme {
	--background: #153489;
	--foreground: #eceae5;
	--accent: #5ea5ee;
}

/* -------------------------------------------------------------------------- */
/*                                    Pink                                    */
/* -------------------------------------------------------------------------- */
:root {
	--background: #1a170f;
	--foreground: #eceae5;
	--accent: #ee82cf;
}

/* -------------------------------------------------------------------------- */
/*                                   Matrix                                   */
/* -------------------------------------------------------------------------- */
// :root {
// 	--background: #000000;
// 	--foreground: #4eee85;
// 	--accent: #4eee85;
// }

/* -------------------------------------------------------------------------- */
/*                                   Vikink                                   */
/* -------------------------------------------------------------------------- */
// :root {
// 	--background: #0e1923;
// 	--foreground: #d6e8ee;
// 	--accent: #5accf0;
// }
