:root {
	--background: #1a170f;
	--foreground: #eceae5;
	--accent: #ee82cf;
	--radius: 0;
	--font-size: 1rem;
	--line-height: 1.54em;
}

#sec {
	font-family:
		'Fira Code', 'JetBrains Mono', Monaco, Consolas, 'Ubuntu Mono', monospace;
	font-size: var(--font-size);
	font-weight: 400;
	line-height: var(--line-height);
	background-color: var(--background);
	color: var(--foreground);
	text-rendering: optimizeLegibility;
	font-variant-ligatures: contextual;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

.content-1 {
	h1,
	h2,
	h3,
	h4 {
		font-family: 'Press Start 2P', system-ui;
	}
}

.content-2 {
	h1,
	h2,
	h3,
	h4 {
		font-family: 'Uncial Antiqua', system-ui;
	}
}

.app-bar {
	border-bottom: 1px solid var(--accent);
}
.foo-bar {
	border-top: 1px solid var(--accent);
}

.page-sector {
	border-top: 1px dashed color-mix(in srgb, var(--foreground) 20%, transparent);
	padding: 25px 0;

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

dialog {
	background: var(--background);
	border: 2px solid var(--accent);
	color: var(--foreground);
	padding: 20px;
	margin: auto;
	max-width: 600px;
	z-index: 99;
}

dialog h2 {
	margin-top: 0;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.8);
}

.dialog-trigger {
	display: inline-block;
	margin-left: 5px;
	font-weight: normal;
	color: var(--accent);
	cursor: pointer;
}

[hidden] {
	display: none !important;
}

.headline {
	display: flex;
	flex: 1;
	white-space: nowrap;
	line-height: 1;
	letter-spacing: 0.04em;
	font-size: 18px;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: calc(var(--font-size) * 0.2);
	text-transform: uppercase;
}

.headline::after {
	content: '';
	background: repeating-linear-gradient(
		90deg,
		var(--accent),
		var(--accent) 2px,
		transparent 0,
		transparent 8px
	);
	display: block;
	width: 100%;
	margin-left: 20px;
	right: 10px;
}

.start-question {
	margin-bottom: 20px;
}

.start-question p {
	margin-bottom: 10px;
}

.start-question ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	gap: 10px;
}
